
/* Contenedor que contiene toda la carta con la imagen y el nombre */
.flip-card {
  width: 90%; 
  height: 300px; /* Defino la altura para las cartas *//
  margin: auto; /* Para centrar las tarjetas si es necesario */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Mantiene el efecto 3D */
  transition: transform 0.5s; /* Transición suave para el giro */
}

/* Parte frontal de la carta (imagen) */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculto la parte trasera cuando gire */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease-in-out; /* Transición de opacidad */
}

/* Imagen en la parte frontal de la carta */
.flip-card-front {
  background-color: transparent;
}

.flip-card-front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Parte trasera de la carta (nombre) */
.flip-card-back {
  background-color:rgb(226, 225, 218); /* Color de fondo */
  transform: rotateY(180deg); /* Inicialmente está volteada */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Texto para la parte trasera de la carta*/
.flip-card-back p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

/* Efecto hover: al pasar el ratón sobre la carta, se gira */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); 
}

/* La imagen se quitará al hacer pasar el ratón*/
.flip-card:hover .flip-card-front img {
  opacity: 0; 
}



