.custom-card {
    border-radius: 1em;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 30em;
}

.custom-card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-card:hover {
    transform: scale(1.03);
}

.custom-card .card-body {
    padding: 1.5em;
}

.custom-card .btn {
    background-color: #000000;
    border-radius: 2em;
    padding: 0.7em 1.5em;
}

@media (max-width: 768px) {
    .carousel-item {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .carousel-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .carousel-item {
        width: 100%;
        transform: scale(0.95);
    }

    .carousel-item-next,
    .carousel-item-prev {
        opacity: 0;
        transform: translateX(100%);
    }
}

.card-title, .modal-title {
    text-transform: lowercase;
}

.card-title::first-letter, .modal-title::first-letter {
    text-transform: uppercase;
}

.card-text, .modal-body {
    text-transform: lowercase;
}

.card-text::first-letter, .modal-body p::first-letter {
    text-transform: uppercase;
}
