.custom-card {
    /*width: 22rem;*/
    border-radius: 1em;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.custom-card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-card:hover {
    transform: scale(1.03);
}

.custom-card .card-body {
    padding: 1.5em;
}

.custom-card .btn {
    background-color: #000000;
    border-radius: 2em;
    padding: 0.7em 1.5em;
}
