/* Estilos de las tarjetas personalizadas */
.custom-card {
    border-radius: 1em;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 30em;
}

.custom-card img {
    height: 180px;
    /* Usar una altura fija */
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-card .card-body {
    padding: 1.5em;
}

.custom-card .btn {
    background-color: #000000;
    border-radius: 2em;
    padding: 0.7em 1.5em;
}

/* Estilo de los títulos y textos */
.card-title::first-letter,
.modal-title::first-letter {
    text-transform: uppercase;
}

.card-text::first-letter,
.modal-body p::first-letter {
    text-transform: uppercase;
}


/* Estilo para las imágenes dentro del modal */
.modal-body img {
    width: 100%;
    border-radius: 12px;
}

/* Estilos de los controles de carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    /* Reducir el ancho del área de clic */
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -16px;
}

.carousel-control-next {
    right: -16px;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {

    /* Ajustes en el tamaño de los botones de control del carrusel */
    .carousel-control-prev {
        left: 0;
    }

    .carousel-control-next {
        right: 0;
    }

    .carousel-item {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .carousel-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .carousel-item {
        width: 100%;
        transform: scale(0.95);
    }

    .carousel-item-next,
    .carousel-item-prev {
        opacity: 0;
        transform: translateX(100%);
    }
}