/* Aplicar borde a la fila seleccionada */
.selected-row {
    border: 3px solid rgb(71, 145, 89) !important;
}

.selected-row td {
    border-color: lightgray !important;
}

@media (max-width: 570px) {
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 
    }

    .table {
        width: 100%; 
        table-layout: fixed;
    }

    .table th,
    .table td {
        padding: 8px; 
        font-size: 14px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
    }

    .table-responsive {
        display: block; 
    }
}
