:root {
    --color-detalles: #d9625d;
    --color-texto: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", Sans-serif;
}


h1 {
    font-family: "Questrial", Sans-serif;
    font-weight: 400;
    border-bottom: 2px solid #d9625d;
    margin: 3rem;
}


/*
h1 {
    font-weight: 400;
    position: relative;  
    margin: 3rem;
    padding-bottom: 10px;  
}

h1::after {
    content: '';  
    position: absolute;
    left: 0;
    bottom: 0;  
    width: 120%;  
    height: 2px;  
    background-color: #d9625d; 
}
*/
section {
    margin-bottom: 4em;
}