.footer p {
    border-bottom: 2px solid #555555;
    width: 80%; /* Ajuste para que el texto ocupe más espacio */
}

.footer img {
    max-width: 7em;
}

footer .col-md-4 p.text-nowrap {
    white-space: nowrap;
}

footer .row {
    gap: 30px;
}

footer .col-md-4 {
    flex: 1 1 30%;
}

.footer .primera {
    padding-right: 20px; /* Añadir un pequeño margen */
}

/* Media Query para pantallas medianas */
@media (max-width: 800px) {
    .footer {
        padding: 2rem; /* Añadir más espacio en el pie de página */
    }

    .footer .container {
        max-width: 100%; /* Asegúrate de que el contenedor ocupe todo el espacio */
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer .row {
        display: flex;
        flex-wrap: wrap; /* Permite que las columnas se envuelvan a la siguiente fila */
        gap: 20px; /* Añadir más espacio entre las columnas */
    }

    .footer .col-md-4 {
        flex: 1 1 40%; /* La primera columna ocupa el 40% en pantallas medianas */
        padding-bottom: 1rem;
    }

    .footer .col-md-3 {
        flex: 1 1 30%; /* Las otras dos columnas ocupan el 30% */
        padding-bottom: 1rem;
    }

    .footer .col-md-3:nth-child(3) {
        flex: 1 1 100%; /* La tercera columna ocupa el 100% y se mueve a una nueva fila */
    }

    .footer .primera {
        padding-right: 0; /* Quitar el padding derecho para que no se vea apretado */
    }
}
