/* Sticky Header */
header {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100vw;
}

header img {
    max-width: 90px;
}

ul {
    margin: 0 auto;
}

li {
    margin-right: 15px;
}

#elementoMenu {
    font-size: 16px;
    font-weight: 510;
}

#elementoMenu:hover {
    font-weight: bold;
    border-bottom: 3px solid #d9625d;
}
/* Estilo para que el submenú se muestre al pasar el ratón */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Asegúrate de que el submenú se oculte cuando no se pasa el ratón */
  .dropdown-menu {
    display: none;
  }

/* Estilo para el elemento del menu seleccionado/*
/*
.nav-link.active {

}
*/