* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 3em;
}

h1 {
    margin-top: 2em;
}

.imagenInicio {
    width: 100%;
    height: 90vh;

    background: linear-gradient(rgba(36, 35, 35, 0.473), rgba(48, 47, 47, 0.397)),
        url("../src/assets/imagenes/football.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 4em;
}

.imagenInicio h2 {
    font-size: 6em;
    font-weight: bold;
    font-family: "Racing Sans One", Sans-serif;
    text-transform: uppercase;
}

.imagenInicio h3 {
    font-family: "Helvetica", Sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

.introduccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 65vh;
    align-items: stretch;
}

.introduccion img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.titulo {
    margin-top: 2em;
    background-color: #d9615d21;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.seccion1 {
    margin-right: 5em;
}

.introduccion h5 {
    font-size: 2.5em;
    height: auto;
    width: 40%;
}

.carruselesSimples {
    display: none;       
}

#contenedorPatros {
    width: 100%;
    height: 100vh;

    box-shadow:
        /* sombra arriba */
        0px -5px 10px rgba(0, 0, 0, 0.35),

        /* sombra abajo */
        0px 5px 10px rgba(0, 0, 0, 0.3);
}

#patrocinadores {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

#patrocinadores img {
    max-width: 40%;
}

.comoDonar,
.totalRecaudado {
    background-color: rgba(128, 128, 128, 0.164);
}

.card text-center {
    width: 18rem;
}

@media (max-width: 730px) {
    .introduccion {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 65vh;
    }

    .seccion2 {
        display: none;
    }

    #patrocinadores img {
        max-width: 40%;
    }

    .carruseles {
        display: none;
    }

    .carruselesSimples {
        display: block;       
    }

}