.fade-out {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contenedor-inscripcion {

    svg,
    img {
        width: 7em;
    }

    .formulario {
        height: 60em;
    }

    .fields-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tarjeta {
        width: 25%;
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }



}