.fade-out {
    animation: fadeOut 0.3s forwards;
}

.botonAñadir {
    width: 20%;
}

.botonEnviar {
    width: 20%;
}

.tituloJugador h5 {
    margin: 0px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.contenedor-inscripcion {

    svg,
    img {
        width: 7em;
    }

    .formulario {
        height: 60em;
    }

    .fields-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tarjeta {
        width: 25%;
        transition: transform 0.3s ease-in-out;
    }

    .tarjeta:hover {
        transform: scale(1.1);
    }

    @media (max-width: 540px) {
        .tarjeta {
            width: 100%;
        }

        .botonAñadir {
            width: 75%;
        }

        .botonEnviar {
            width: 75%;
        }
    }

    @media (max-width: 400px) {
        .tituloJugador {
            flex-direction: column;
        }

        .tituloJugador h5 {
            margin-bottom: 0.5em;
        }
    }

}