.retos {

    .card-title,
    .modal-title {
        text-transform: lowercase;
    }

    .card-title::first-letter,
    .modal-title::first-letter {
        text-transform: uppercase;
    }

    .card-text,
    .modal-body {
        text-transform: lowercase;
    }

    .card-text::first-letter,
    .modal-body p::first-letter {
        text-transform: uppercase;
    }

    .modal-body img {
        width: 80%;
    }

    .card img {
        max-width: 9em;
    }
}