.retos {

    .card-title::first-letter,
    .modal-title::first-letter {
        text-transform: uppercase;
    }

    .card-text::first-letter,
    .modal-body p::first-letter {
        text-transform: uppercase;
    }

    .modal-body img {
        width: 80%;
    }

    .card img {
        max-width: 9em;
    }

    .card-footer {
        background-color: transparent;
        border-color: transparent;
    }
}